# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

* List popular languages for Data Science
* List popular libraries for Data Science
* Name three Data Science tools in a table
* Perform simple arithmetic operations

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Scala
4. Julia

Some of the commonly used libraries uesd by Data Scientists include:
1. Numpy
2. Pandas
3. Matplotlib
4. seaborn
5. keras

|Data Science Tools|
|------|
|Jupyter Notebook|
|JupyterLab|
|Rstudio|

Below are a few examples of evaluating arithmetic expressions in Python.

_This a simple arithmetic expression to mutiply then add integers._

In [1]:
(3*4)+5

17

_This will convert 200 minutes to hours by diving by 60._

In [2]:
200/60

3.3333333333333335

## Author
Arash Nedaei Janbesaraei